# Working with Data - Computer Lab for Guest Lecture Julia Lane

In this computer lab we will learn more more details and practice data work to enhance the content of the lecture presented by Julia Lane on responsible data use. We will address a research question, think about data and measurement errors, and manipulate data. 

OUTLINE: 
1. Define a research question 
2. Think about what data are available 
3. Think about possible measurement errors 
4. Think about the interpretation of your results 
5. Inform your results by linking datasets

# 1. Define a reserach question
Which Community Districts in NYC show the highest number of complaints?

# 2. Think about what data are available
Find suitable data by searching the CUSP Data Catalog https://datahub.cusp.nyu.edu/catalog. You can use Urban Profiler to investigate the Metadata associated with each dataset. Using this tool will help you to decide which attributes of the data you need to answer your question so you don't have to load the entire dataset.

In [1]:
from __future__ import print_function, division

import os
import pandas as pd
import numpy as np
import re

In [2]:
PUIdata = os.getenv('PUIDATA')
PUIdata

'/home/cusp/esg336/PUIdata'

In [3]:
data_311 = pd.read_csv('/projects/open/NYCOpenData/nycopendata/data/erm2-nwe9/1446832678/erm2-nwe9', 
            usecols = ['Agency', 'Unique Key','Complaint Type','Incident Zip','Incident Address',
                       'Community Board', 'Borough','X Coordinate (State Plane)','Y Coordinate (State Plane)'])

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# 3. Think about possible measurement errors
Do you see any problems regarding possible measurement error? Think about who is represented in the data, ommissions, duplications, content error, missing data, etc.

** Check if all Boroughs and Community Districts are represented in the Data**

It can be check of several ways.It can be call unique values or grouping. One is seeing grouping the Community Board and it will be seen how many Community board and whic ones are represented:

In [4]:
Borough = data_311.groupby(by = 'Borough').count()

In [5]:
Borough

,Unique Key,Agency,Complaint Type,Incident Zip,Incident Address,Community Board,X Coordinate (State Plane),Y Coordinate (State Plane)
Borough,,,,,,,,
BRONX,1665625,1665625,1665625,1550561,1400597,1665625,1539848,1539848
BROOKLYN,2831932,2831932,2831932,2709977,2316768,2831932,2689214,2689214
MANHATTAN,1900005,1900005,1900005,1756226,1415628,1900005,1728724,1728724
QUEENS,2189760,2189760,2189760,2070284,1657981,2189760,2054341,2054341
STATEN ISLAND,490998,490998,490998,479297,362257,490998,476037,476037
Unspecified,1109446,1109446,1109446,827262,836829,1109446,820850,820850

It can be seen that all the boroughs are represented. Let's explore the Community Boards

In [6]:
Community_Board = data_311.groupby(by = 'Community Board').count()

In [7]:
print ('The Community Boards represented in the data set are:')
for i in Community_Board.index:
    print (i)

The Community Boards represented in the data set are:
0 Unspecified
01 BRONX
01 BROOKLYN
01 MANHATTAN
01 QUEENS
01 STATEN ISLAND
02 BRONX
02 BROOKLYN
02 MANHATTAN
02 QUEENS
02 STATEN ISLAND
03 BRONX
03 BROOKLYN
03 MANHATTAN
03 QUEENS
03 STATEN ISLAND
04 BRONX
04 BROOKLYN
04 MANHATTAN
04 QUEENS
05 BRONX
05 BROOKLYN
05 MANHATTAN
05 QUEENS
06 BRONX
06 BROOKLYN
06 MANHATTAN
06 QUEENS
07 BRONX
07 BROOKLYN
07 MANHATTAN
07 QUEENS
08 BRONX
08 BROOKLYN
08 MANHATTAN
08 QUEENS
09 BRONX
09 BROOKLYN
09 MANHATTAN
09 QUEENS
10 BRONX
10 BROOKLYN
10 MANHATTAN
10 QUEENS
11 BRONX
11 BROOKLYN
11 MANHATTAN
11 QUEENS
12 BRONX
12 BROOKLYN
12 MANHATTAN
12 QUEENS
13 BROOKLYN
13 QUEENS
14 BROOKLYN
14 QUEENS
15 BROOKLYN
16 BROOKLYN
17 BROOKLYN
18 BROOKLYN
26 BRONX
27 BRONX
28 BRONX
55 BROOKLYN
56 BROOKLYN
64 MANHATTAN
80 QUEENS
81 QUEENS
82 QUEENS
83 QUEENS
84 QUEENS
95 STATEN ISLAND
Unspecified BRONX
Unspecified BROOKLYN
Unspecified MANHATTAN
Unspecified QUEENS
Unspecified STATEN ISLAND

It can be seen that all the Community Boards are represented. Also It can be seen that there are some unspecified categories.

** How many unique values do we have? **

In [8]:
Com_uniq = data_311['Community Board'].unique()

In [9]:
print ('There are {} unique values of the Comunity Board'.format(len(Com_uniq)))

There are 77 unique values of the Comunity Board

In [10]:
# Why do we have so many? Some of them are unspecified, missing. Some might be invalid entries. 
# We should have 59 Community Districts.

As it could be seen previously, the data set had some unspecified values and there should be some duplicates values.

There are 6 unspecified values so there are 12 more values that it should be understood .

In [11]:
# Check for duplicates? Are these plausible?

In [12]:
non_duplicates = data_311.drop_duplicates()

In [13]:
duplicates = len(data_311)-len(non_duplicates)

In [14]:
# What about missing values? Can you detect any patterns?

The missing values can be detected in the following way:

In [15]:
missing_values = data_311[data_311['Community Board'] == '0 Unspecified']

In [16]:
missing_values.head()

,Unique Key,Agency,Complaint Type,Incident Zip,Incident Address,Community Board,Borough,X Coordinate (State Plane),Y Coordinate (State Plane)
1,31908754,CHALL,Opinion for the Mayor,NaN,NaN,0 Unspecified,Unspecified,NaN,NaN
4,31913310,HRA,Benefit Card Replacement,NaN,NaN,0 Unspecified,Unspecified,NaN,NaN
6,31912764,DPR,Agency Issues,NaN,NaN,0 Unspecified,Unspecified,NaN,NaN
70,31912598,CHALL,Opinion for the Mayor,NaN,NaN,0 Unspecified,Unspecified,NaN,NaN
72,31911630,CHALL,Opinion for the Mayor,NaN,NaN,0 Unspecified,Unspecified,NaN,NaN

In [17]:
print ('The percentage of the missing values is :',round((len (missing_values) /len(data_311)*100),2))

The percentage of the missing values is : 10.89

In [18]:
# Data Editing: Is it possible to replace missing values? Is it possible to use Complaint Type 
# to fill missings in Resolution Descriptor?

In [19]:
# Generate marker for unplausible Community Districts
# How do these districts look like?

In [20]:
# Drop the marked districts

In [21]:
data_311['Marker'] = data_311['Community Board'].str.startswith('0 Unspecified') | data_311['Community Board'].str.startswith('Unspecified')

In [22]:
data_clean = data_311[(data_311['Marker'] == False)]

In [23]:
data_clean['Marker'] = [int(i[:2]) > 18 for i in data_clean['Community Board']]

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [24]:
data_clean = data_clean[data_clean['Marker'] == False]

In [25]:
len(data_clean['Community Board'].unique())

59

In [26]:
# Produce your result: Generate an indicator which ranks the Community District by complaint numbers 
# on the Community district level

In [27]:
data_clean[['Unique Key','Community Board']].groupby('Community Board').count()

                  Unique Key
Community Board
01 BRONX               74631
01 BROOKLYN           185057
01 MANHATTAN           77974
01 QUEENS             171484
01 STATEN ISLAND      182713
02 BRONX               60257
02 BROOKLYN           121022
02 MANHATTAN          133860
02 QUEENS             114333
02 STATEN ISLAND      121132
03 BRONX               75134
03 BROOKLYN           197306
03 MANHATTAN          150296
03 QUEENS             122009
03 STATEN ISLAND      136487
04 BRONX              181953
04 BROOKLYN           139706
04 MANHATTAN          132660
04 QUEENS              99316
05 BRONX              161078
05 BROOKLYN           189765
05 MANHATTAN          142028
05 QUEENS             168570
06 BRONX               99547
06 BROOKLYN           114029
06 MANHATTAN          104249
06 QUEENS              90938
07 BRONX              185729
07 BROOKLYN           107031
07 MANHATTAN          151419
07 QUEENS             195961
08 BRONX               92733
08 BROOKLYN           141119
08 MANHATTAN          149076
08 QUEENS             123131
09 BRONX              147457
09 BROOKLYN           135833
09 MANHATTAN          127565
09 QUEENS             151242
10 BRONX               95496
10 BROOKLYN           111837
10 MANHATTAN          137344
10 QUEENS             128116
11 BRONX              122081
11 BROOKLYN           139890
11 MANHATTAN           95413
11 QUEENS             101908
12 BRONX              168455
12 BROOKLYN           150320
12 MANHATTAN          268053
12 QUEENS             229383
13 BROOKLYN            72362
13 QUEENS             163851
14 BROOKLYN           187794
14 QUEENS             103396
15 BROOKLYN           146129
16 BROOKLYN            85467
17 BROOKLYN           191720
18 BROOKLYN           156100

In [28]:
# Safe reduced data frame (Community District level)

In [29]:
Complain_data = data_clean[['Unique Key','Community Board']].groupby('Community Board').count()

In [30]:
Complain_data = Complain_data.reset_index()

In [31]:
Complain_data.head()

    Community Board  Unique Key
0          01 BRONX       74631
1       01 BROOKLYN      185057
2      01 MANHATTAN       77974
3         01 QUEENS      171484
4  01 STATEN ISLAND      182713

# 4. Think about the interpretation of your results?
What do you have to keep in mind when interpreting your results? Are they generable? Does the way the data is collected influence your results? To better inform city agancies it might be good to explore in more detail the underlying dempgraphics/infrastructure of a Community District becasue this might influence 311 calls. You can do this by merging external data on the Community District level to your analysis data.

In [32]:
# Population by Community District
df_pop = pd.read_csv('http://cosmo.nyu.edu/~fb55/PUI2016/data/'+ "/Final_Demographics.csv")

In [33]:
df_pop.head()

,FIPS,cd_id,Total Population,Population Density (per sq. mile),% Total Population: Male,% Total Population: 18 to 24 Years,% Total Population: 25 to 34 Years,% Total Population: 35 to 44 Years,% Population 5 Years And Over: Speak Only English,% Population 5 Years And Over: Spanish or Spanish Creole,...,"Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations","% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations",% Employed Civilian Population 16 Years And Over: Service occupations,% Employed Civilian Population 16 Years And Over: Sales and office occupations,"% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations","% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations"
0,3603701,BX08,106737,31229.95006,46.65,10.73,15.04,11.32,46.80,39.24,...,665,1518,42.66,28.95,20.89,0.24,2.65,4.60,1.40,3.20
1,3603702,BX12,134644,19966.67839,46.35,11.35,14.29,12.57,73.09,18.19,...,1156,4174,29.57,33.98,20.40,0.00,7.08,8.97,1.95,7.02
2,3603703,BX10,121209,12913.81703,45.20,8.62,13.74,12.78,61.79,26.43,...,941,3433,36.20,22.85,25.09,0.00,7.68,8.18,1.76,6.42
3,3603704,BX11,135839,35677.95453,50.09,8.10,17.43,14.09,43.22,36.45,...,2189,5592,30.06,27.86,22.24,0.00,7.03,12.81,3.60,9.20
4,3603705,BX03,172247,39405.79222,44.72,14.24,14.89,12.38,36.82,54.24,...,1437,5436,16.80,41.00,22.29,0.03,8.45,11.43,2.39,9.04

In [34]:
# Check variables in file

In [35]:
df_pop.columns.values

array(['FIPS', 'cd_id', 'Total Population',
       'Population Density (per sq. mile)', '% Total Population: Male',
       '% Total Population: 18 to 24 Years',
       '% Total Population: 25 to 34 Years',
       '% Total Population: 35 to 44 Years',
       '% Population 5 Years And Over: Speak Only English',
       '% Population 5 Years And Over: Spanish or Spanish Creole',
       '% Population 5 Years And Over: Spanish or Spanish Creole: Speak English "very Well"',
       '% Population 5 Years And Over: Spanish or Spanish Creole: Speak English Less Than "very Well"',
       'Population 25 Years and over:',
       'Population 25 Years and over: Less Than High School',
       'Population 25 Years and over: High School Graduate (includes equivalency)',
       'Population 25 Years and over: Some college',
       "Population 25 Years and over: Bachelor's degree",
       "Population 25 Years and over: Master's degree",
       'Population 25 Years and over: Professional school degree',
       'Population 25 Years and over: Doctorate degree',
       '% Population 25 Years and over: Less Than High School',
       '% Population 25 Years and over: High School Graduate (includes equivalency)',
       '% Population 25 Years and over: Some college',
       "% Population 25 Years and over: Bachelor's degree",
       "% Population 25 Years and over: Master's degree",
       '% Population 25 Years and over: Professional school degree',
       '% Population 25 Years and over: Doctorate degree',
       'Population 25 Years and over:.1',
       'Population 25 Years and over: Less Than High School.1',
       'Population 25 Years and over: High School Graduate or more (includes equivalency)',
       'Population 25 Years and over: Some college or more',
       "Population 25 Years and over: Bachelor's degree or more",
       "Population 25 Years and over: Master's degree or more",
       'Population 25 Years and over: Professional school degree or more',
       'Population 25 Years and over: Doctorate degree.1',
       '% Population 25 Years and over: Less Than High School.1',
       '% Population 25 Years and over: High School Graduate or more (includes equivalency)',
       '% Population 25 Years and over: Some college or more',
       "% Population 25 Years and over: Bachelor's degree or more",
       "% Population 25 Years and over: Master's degree or more",
       '% Population 25 Years and over: Professional school degree or more',
       '% Population 25 Years and over: Doctorate degree.1',
       'Population 3 Years and over:',
       'Population 3 Years and over: Enrolled in School',
       'Population 3 Years and over: Not Enrolled in School',
       '% Population 3 Years and over: Enrolled in School',
       '% Population 3 Years and over: Not Enrolled in School',
       'Population 3 Years and over Enrolled In School',
       'Population 3 Years and over Enrolled In School: Public School',
       'Population 3 Years and over Enrolled In School: Public School: Pre-school',
       'Population 3 Years and over Enrolled In School: Public School: K-8',
       'Population 3 Years and over Enrolled In School: Public School: 9-12',
       'Population 3 Years and over Enrolled In School: Public School: College',
       'Population 3 Years and over Enrolled In School: Private School',
       'Population 3 Years and over Enrolled In School: Private School: Pre-school',
       'Population 3 Years and over Enrolled In School: Private School: K-8',
       'Population 3 Years and over Enrolled In School: Private School: 9-12',
       'Population 3 Years and over Enrolled In School: Private School: College',
       '% Population 3 Years and over Enrolled In School: Public School',
       '% Population 3 Years and over Enrolled In School: Public School: Pre-school',
       '% Population 3 Years and over Enrolled In School: Public School: K-8',
       '% Population 3 Years and over Enrolled In School: Public School: 9-12',
       '% Population 3 Years and over Enrolled In School: Public School: College',
       '% Population 3 Years and over Enrolled In School: Private School',
       '% Population 3 Years and over Enrolled In School: Private School: Pre-school',
       '% Population 3 Years and over Enrolled In School: Private School: K-8',
       '% Population 3 Years and over Enrolled In School: Private School: 9-12',
       '% Population 3 Years and over Enrolled In School: Private School: College',
       'Employed civilian Population 16 Years and over:',
       'Employed civilian Population 16 Years and over: Management, business, and financial operations  occupations',
       'Employed civilian Population 16 Years and over: Professional and related occupations',
       'Employed civilian Population 16 Years and over: Healthcare support occupations',
       'Employed civilian Population 16 Years and over: Protective service occupations',
       'Employed civilian Population 16 Years and over: Food preparation and serving related occupations',
       'Employed civilian Population 16 Years and over: Building and grounds cleaning and maintenance  occupations',
       'Employed civilian Population 16 Years and over: Personal care and service occupations',
       'Employed civilian Population 16 Years and over: Sales and related occupations',
       'Employed civilian Population 16 Years and over: Office and administrative support occupations',
       'Employed civilian Population 16 Years and over: Farming, fishing, and forestry occupations',
       'Employed civilian Population 16 Years and over: Construction, extraction, and maintenance  occupations',
       'Employed civilian Population 16 Years and over: Production occupations',
       'Employed civilian Population 16 Years and over: Transportation and material moving occupations',
       '% Employed civilian Population 16 Years and over: Management, business, and financial operations  occupations',
       '% Employed civilian Population 16 Years and over: Professional and related occupations',
       '% Employed civilian Population 16 Years and over: Healthcare support occupations',
       '% Employed civilian Population 16 Years and over: Protective service occupations',
       '% Employed civilian Population 16 Years and over: Food preparation and serving related occupations',
       '% Employed civilian Population 16 Years and over: Building and grounds cleaning and maintenance  occupations',
       '% Employed civilian Population 16 Years and over: Personal care and service occupations',
       '% Employed civilian Population 16 Years and over: Sales and related occupations',
       '% Employed civilian Population 16 Years and over: Office and administrative support occupations',
       '% Employed civilian Population 16 Years and over: Farming, fishing, and forestry occupations',
       '% Employed civilian Population 16 Years and over: Construction, extraction, and maintenance  occupations',
       '% Employed civilian Population 16 Years and over: Production occupations',
       '% Employed civilian Population 16 Years and over: Transportation and material moving occupations',
       'Employed Civilian Population 16 Years And Over:',
       'Employed Civilian Population 16 Years And Over: Private Sector',
       'Employed Civilian Population 16 Years And Over: Public Sector',
       'Employed Civilian Population 16 Years And Over: Self-Employed (incorporated and not incorporated)',
       'Employed Civilian Population 16 Years And Over: Private Non-Profit',
       'Employed Civilian Population 16 Years And Over: Unpaid Family Workers',
       '% Employed Civilian Population 16 Years And Over: Private Sector',
       '% Employed Civilian Population 16 Years And Over: Public Sector',
       '% Employed Civilian Population 16 Years And Over: Self-Employed (incorporated and not incorporated)',
       '% Employed Civilian Population 16 Years And Over: Private Non-Profit',
       '% Employed Civilian Population 16 Years And Over: Unpaid Family Workers',
       'Households:', 'Households: Less than $10,000',
       'Households: $10,000 to $14,999', 'Households: $15,000 to $19,999',
       'Households: $20,000 to $24,999', 'Households: $25,000 to $29,999',
       'Households: $30,000 to $34,999', 'Households: $35,000 to $39,999',
       'Households: $40,000 to $44,999', 'Households: $45,000 to $49,999',
       'Households: $50,000 to $59,999', 'Households: $60,000 to $74,999',
       'Households: $75,000 to $99,999',
       'Households: $100,000 to $124,999',
       'Households: $125,000 to $149,999',
       'Households: $150,000 to $199,999', 'Households: $200,000 or More',
       '% Households: Less than $10,000',
       '% Households: $10,000 to $14,999',
       '% Households: $15,000 to $19,999',
       '% Households: $20,000 to $24,999',
       '% Households: $25,000 to $29,999',
       '% Households: $30,000 to $34,999',
       '% Households: $35,000 to $39,999',
       '% Households: $40,000 to $44,999',
       '% Households: $45,000 to $49,999',
       '% Households: $50,000 to $59,999',
       '% Households: $60,000 to $74,999',
       '% Households: $75,000 to $99,999',
       '% Households: $100,000 to $124,999',
       '% Households: $125,000 to $149,999',
       '% Households: $150,000 to $199,999',
       '% Households: $200,000 or More',
       'Median household income (In 2014 Inflation Adjusted Dollars)',
       'Per capita income (In 2014 Inflation Adjusted Dollars)',
       'Employed Civilian Population 16 Years And Over:.1',
       'Employed Civilian Population 16 Years And Over: Management, professional, and related occupations',
       'Employed Civilian Population 16 Years And Over: Service occupations',
       'Employed Civilian Population 16 Years And Over: Sales and office occupations',
       'Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations',
       'Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance  occupations',
       'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations',
       'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations',
       'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations',
       '% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations',
       '% Employed Civilian Population 16 Years And Over: Service occupations',
       '% Employed Civilian Population 16 Years And Over: Sales and office occupations',
       '% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations',
       '% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance  occupations',
       '% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations',
       '% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations',
       '% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations'], dtype=object)

In [36]:
# How many community districts are in file?

In [37]:
df_pop.cd_id.count()

59

In [38]:
# Manipulate data to get some information on demographics by Community District. 
# Think about who might be more likely to call 311

In [39]:
demog = df_pop[['cd_id', 'Median household income (In 2014 Inflation Adjusted Dollars)']]

In [40]:
demog.head()

  cd_id  Median household income (In 2014 Inflation Adjusted Dollars)
0  BX08                                              54224
1  BX12                                              44906
2  BX10                                              54962
3  BX11                                              47910
4  BX03                                              22041

In [41]:
# Save data frame

In [42]:
demog.columns = ['cd_id','Median household income']

In [43]:
demog.head()

  cd_id  Median household income
0  BX08                    54224
1  BX12                    44906
2  BX10                    54962
3  BX11                    47910
4  BX03                    22041

In [44]:
# Infrastructure by Community District
df_infr = pd.read_csv('http://cosmo.nyu.edu/~fb55/PUI2016/data/'
                      + "/ACS_Computer_Use_and_Internet_2014_1Year_Estimate.csv")

In [45]:
# Check variables in file

In [46]:
df_infr.columns

Index([u'FIPS', u'Geographic Identifier', u'Qualifying Name', u'Households',
       u'Households: With An Internet Subscription',
       u'Households: Dial-Up Alone', u'Households: Dsl',
       u'Households: With Mobile Broadband',
       u'Households: Without Mobile Broadband', u'Households: Cable Modem',
       u'Households: With Mobile Broadband.1',
       u'Households: Without Mobile Broadband.1', u'Households: Fiber-Optic',
       u'Households: With Mobile Broadband.2',
       u'Households: Without Mobile Broadband.2',
       u'Households: Satellite Internet Service',
       u'Households: With Mobile Broadband.3',
       u'Households: Without Mobile Broadband.3',
       u'Households: Two or More Fixed Broadband Types, or Other',
       u'Households: With Mobile Broadband.4',
       u'Households: Without Mobile Broadband.4',
       u'Households: Mobile Broadband Alone or With Dialup',
       u'Households: Internet Access Without A Subscription',
       u'Households: No Internet Access',
       u'% Households: With An Internet Subscription', u'Households.1',
       u'Households: Has A Computer',
       u'Households: With Dial-Up Internet Subscription Alone',
       u'Households: With A Broadband Internet Subscription',
       u'Households: Without An Internet Subscription',
       u'Households: No Computer'],
      dtype='object')

In [47]:
# How many community districts are in file?

In [48]:
CD = len(df_infr['Qualifying Name'].unique())
print ('The number of community districts are:', CD)

The number of community districts are: 55

In [49]:
# Manipulate data to get some information on internet/broadband useage by Community District
# Aggregate the mobile subscription data

In [50]:
df_infr.columns

Index([u'FIPS', u'Geographic Identifier', u'Qualifying Name', u'Households',
       u'Households: With An Internet Subscription',
       u'Households: Dial-Up Alone', u'Households: Dsl',
       u'Households: With Mobile Broadband',
       u'Households: Without Mobile Broadband', u'Households: Cable Modem',
       u'Households: With Mobile Broadband.1',
       u'Households: Without Mobile Broadband.1', u'Households: Fiber-Optic',
       u'Households: With Mobile Broadband.2',
       u'Households: Without Mobile Broadband.2',
       u'Households: Satellite Internet Service',
       u'Households: With Mobile Broadband.3',
       u'Households: Without Mobile Broadband.3',
       u'Households: Two or More Fixed Broadband Types, or Other',
       u'Households: With Mobile Broadband.4',
       u'Households: Without Mobile Broadband.4',
       u'Households: Mobile Broadband Alone or With Dialup',
       u'Households: Internet Access Without A Subscription',
       u'Households: No Internet Access',
       u'% Households: With An Internet Subscription', u'Households.1',
       u'Households: Has A Computer',
       u'Households: With Dial-Up Internet Subscription Alone',
       u'Households: With A Broadband Internet Subscription',
       u'Households: Without An Internet Subscription',
       u'Households: No Computer'],
      dtype='object')

In [51]:
Infra_Comm = df_infr[(['Qualifying Name',u'Households: With An Internet Subscription',
       'Households: Internet Access Without A Subscription',
       'Households: No Internet Access',
       '% Households: With An Internet Subscription'])]

In [52]:
mobile = (df_infr[u'Households: With Mobile Broadband'] +  df_infr['Households: With Mobile Broadband.1'] +
         df_infr['Households: With Mobile Broadband.2'] + df_infr['Households: With Mobile Broadband.3']+
         df_infr['Households: With Mobile Broadband.4'])

In [53]:
Infra_Comm['mobile'] =mobile

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [54]:
# Aggregate internet type by high and low connections

In [55]:
Infra_Comm['fast connection'] = (df_infr['Households: Dsl'] + df_infr['Households: Cable Modem'] +
                                   df_infr['Households: Fiber-Optic'] + 
                                   df_infr['Households: Satellite Internet Service'] + 
                                   df_infr['Households: Two or More Fixed Broadband Types, or Other'])

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [56]:
Infra_Comm['slow connection'] = (df_infr['Households: Dial-Up Alone'] + 
                                   df_infr['Households: Mobile Broadband Alone or With Dialup'] +
                                   df_infr['Households: Internet Access Without A Subscription'])

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [57]:
# Save data frame

In [58]:
Infra_Comm.head()

,Qualifying Name,Households: With An Internet Subscription,Households: Internet Access Without A Subscription,Households: No Internet Access,% Households: With An Internet Subscription,mobile,fast connection,slow connection
0,"NYC-Bronx Community District 8--Riverdale, New...",31795,2119,8121,75.64,15359,29183,4731
1,"NYC-Bronx Community District 12--Wakefield, Ne...",32243,1891,10696,71.92,10486,31137,2997
2,"NYC-Bronx Community District 10--Co-op City, N...",32729,2882,11439,69.56,11425,31932,3679
3,NYC-Bronx Community District 11--Pelham Parkwa...,32003,2722,10197,71.24,10748,30861,3864
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",35503,3312,18741,61.68,14907,34030,4785

# 5. Inform your results by linking datasets
Now you want to link the three data frames to produce summary statistics for Community Districts which show a high number of complaints vs. Community Districts which show a lower number of complaints. Please keep in mind that the identifiers used for the linkage (Community Dostrict IDs) should be recored the same way. Use regular expressions to harmonize the identifiers if possible. The identifiers should look like BK01, BK02, etc.
https://docs.python.org/2/library/re.html

In [59]:
# Harmonize identifier of dataframe 1

In [60]:
Complain_data.head()

    Community Board  Unique Key
0          01 BRONX       74631
1       01 BROOKLYN      185057
2      01 MANHATTAN       77974
3         01 QUEENS      171484
4  01 STATEN ISLAND      182713

In [61]:
Code = pd.DataFrame (Complain_data['Community Board'].str.split(' ', 1).tolist(), columns = ['number','borough'])

In [62]:
Code.head(2)

  number   borough
0     01     BRONX
1     01  BROOKLYN

In [63]:
Code.borough = Code.borough.str.replace('BRONX', 'BX')
Code.borough = Code.borough.str.replace('BROOKLYN', 'BK')
Code.borough = Code.borough.str.replace('MANHATTAN', 'MN')
Code.borough = Code.borough.str.replace('QUEENS', 'QN')
Code.borough = Code.borough.str.replace('STATEN ISLAND', 'SI')

In [64]:
Code.head(2)

  number borough
0     01      BX
1     01      BK

In [65]:
Complain_data['Code'] = Code.borough+Code.number

In [66]:
Complain_data.head(2)

  Community Board  Unique Key  Code
0        01 BRONX       74631  BX01
1     01 BROOKLYN      185057  BK01

In [67]:
# Harmonize identifier of dataframe 2

In [68]:
demog['Code'] = demog['cd_id']

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [69]:
demog.head()

  cd_id  Median household income  Code
0  BX08                    54224  BX08
1  BX12                    44906  BX12
2  BX10                    54962  BX10
3  BX11                    47910  BX11
4  BX03                    22041  BX03

In [70]:
# Link the 3 dataframes

In [73]:
Infra_Comm.head()

,Qualifying Name,Households: With An Internet Subscription,Households: Internet Access Without A Subscription,Households: No Internet Access,% Households: With An Internet Subscription,mobile,fast connection,slow connection
0,"NYC-Bronx Community District 8--Riverdale, New...",31795,2119,8121,75.64,15359,29183,4731
1,"NYC-Bronx Community District 12--Wakefield, Ne...",32243,1891,10696,71.92,10486,31137,2997
2,"NYC-Bronx Community District 10--Co-op City, N...",32729,2882,11439,69.56,11425,31932,3679
3,NYC-Bronx Community District 11--Pelham Parkwa...,32003,2722,10197,71.24,10748,30861,3864
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",35503,3312,18741,61.68,14907,34030,4785

In [72]:
# Are the demographics and infrastructure different in Community Districts that show more complaints than others?